._.git
._.gitignore
._.idea
._.vscode
._assets
.idea/._MiKL5.iml
.idea/._modules.xml
.idea/._vcs.xml
.vscode/._settings.json
assets/._1982164.svg
assets/._2090024.svg
assets/._Anaconda_Logo.png
assets/._hedgehog.jpg
assets/._r.svg.png
assets/._swift.png
assets/2090024.svg
assets/Anaconda_Logo.png
